<div class="container">
    <div class="grid_form">
        <h3>Inicia sesi칩n</h3>
        <form action="/users/login" method="POST" class="form">
            <div class="form-floating mb-3">
                <input type="email" name="username" class="form-control" id="floatingInput" placeholder="usuario@example.com">
                <label for="floatingInput">Usuario</label>
            </div>
            <div class="form-floating">
                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Contrase침a">
                <label for="floatingPassword">Contrase침a</label>
            </div>
            <button type="submit" class="btn-submit">Iniciar Sesi칩n</button>
            <a href="/users/signup" class="btn-register">Registrarse</a>
        </form>
    </div>
</div>
