<h1>Iniciar Sesion</h1>

<form action="/users/login" method="POST">
    <input type="email" name="username" placeholder="Usuario">
    <input type="password" name="password" placeholder="Contraseña">
    <button type="submit">Iniciar Sesion</button>
    <a href="/users/signup">Registrarse</a>
</form>