<div>
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="fw-light display-5">Productos</h1>

        {{#if user}}
            <p class="fs-5">Bienvenido/a <span class="fw-bold">{{user.first_name}}</span></p>
        {{/if}}
    </div>

    <div class="line"></div>

    <div id="contenidoProductos" class="row d-flex justify-content-center"></div>
</div>